{% extends "base.html" %}

{% block title %}My Feed - Demo Blog{% endblock %}

{% block content %}
<div ng-app="blogApp" ng-controller="FeedController">
    <div class="page-header">
        <h1>My Personalized Feed</h1>
    </div>
    
    <div ng-if="basedOnTags.length > 0" class="feed-info">
        <p>Based on your favorite tags:</p>
        <div class="tags-list">
            <span ng-repeat="tag in basedOnTags" class="tag">(( tag.name ))</span>
        </div>
    </div>
    
    <div ng-if="loading" class="loading">Loading feed...</div>
    
    <div ng-if="error" class="error-message">(( error ))</div>
    
    <div ng-if="posts.length === 0 && !loading" class="empty-state">
        <p>No posts in your feed yet. Try favoriting some tags!</p>
        <a href="/tags" class="btn btn-primary">Browse Tags</a>
    </div>
    
    <div class="posts-list">
        <div ng-repeat="post in posts" class="post-card">
            <h2><a href="/posts/(( post.id ))">(( post.title ))</a></h2>
            <div class="post-meta">
                <span>By <a href="/users/(( post.author.username ))">(( post.author.username ))</a></span>
                <span>(( post.created_at | date:'short' ))</span>
            </div>
            <p class="post-excerpt">(( post.content.substring(0, 200) ))(( post.content.length > 200 ? '...' : '' ))</p>
            <div class="post-tags">
                <span ng-repeat="tag in post.tags" class="tag">(( tag.name ))</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/services/api.service.js') }}"></script>
<script src="{{ url_for('static', filename='js/controllers/feed.controller.js') }}"></script>
{% endblock %}
